<div class="tab-pane fade" id="show-activity">
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <form action="/crud/item/add/activity" method="POST" enctype="multipart/form-data">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
              <label for="name">Type</label>
              <input type="text" class="form-control" name="type" placeholder="Enter type" required>
            </div>
            <div class="form-group">
              <label for="name">Image</label>
              <input type="file" class="form-control" name="image" required>
            </div>
            <input type="hidden" value="<%= itemId %>" name="itemId">
            <button type="submit" class="btn btn-primary">save</button>
          </form>
        </div>
        <div class="col-md-7">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Image URL</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < activity.length; i++){ %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= activity[i].name %></td>
                  <td><%= activity[i].type %></td>
                  <td>
                    <img src="<%= req.protocol + '://' + req.get('host') %>/<%= activity[i].imageUrl %>" alt="imageUrl"
                      width="70px">
                  </td>
                  <td>
                    <form action="/crud/item/<%= itemId %>/activity/<%= activity[i].id %>?_method=DELETE"
                      method="POST">
                      <a href="javascript:void();" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                        data-id="<%= activity[i].id %>" data-name="<%= activity[i].name %>"
                        data-type="<%= activity[i].type %>"><i class=" fas fa-edit"></i></a>
                      <button type="submit" class="btn btn-danger btn-circle btn-sm"><i
                          class="fas fa-trash"></i></button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>