<!-- Modal -->
<div class="modal fade" id="edit-feature-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Feature</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/crud/item/update/feature?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control name" name="name" placeholder="Enter name" required>
          </div>
          <div class="form-group">
            <label for="name">QTY</label>
            <input type="number" class="form-control qty" name="qty" placeholder="Enter qty" required>
          </div>
          <div class="form-group">
            <label for="name">Image</label>
            <input type="file" class="form-control" name="image">
            <span>Pilih gambar untuk update image</span>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id">
          <input type="hidden" value="<%= itemId %>" name="itemId">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>