<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="bankModal" tabindex="-1" role="dialog" aria-labelledby="bankModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal">Tambah Data</h5>
                <button type="button" class="close" data-dismiss="bankModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/crud/bank" method="POST" autocomplete="off" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Bank</label>
                        <input type="text" class="form-control" id="nameBank" name="nameBank" placeholder="Masukkan Nama Bank" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nomor Rekening</label>
                        <input type="text" class="form-control" id="nomorRekening" name="nomorRekening" placeholder="Masukkan Nomor Rekening" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nama Pemilik</label>
                        <input type="text" class="form-control" id="nameOwner" name="nameOwner" placeholder="Masukkan Nama Pemilik" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Pilih Gambar</label>
                        <input type="file" class="form-control" id="imageUrl" name="image" required>
                        <span class="img-info">Pilih Gambar Untuk Update Image</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="_id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>