<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="page_script.showAdd(this)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Bank</th>
            <th>No. Rekening</th>
            <th>Nama Pemilik</th>
            <th>Image</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.length; i++ ) { %>
          <tr>
            <td><%- i+1 %> </td>
            <td><%- data[i].nameBank %> </td>
            <td><%- data[i].nomorRekening %> </td>
            <td><%- data[i].nameOwner %> </td>
            <td>
              <img src="<%= req.protocol + '://' + req.get('host') %>/<%= data[i].imageUrl %> " width="70px" alt="">  
            </td>
            <td class="d-flex justify-content-center">
              <button type="button" 
                onclick="page_script.showUpdate(this)" 
                class="btn btn-warning btn-circle btn-sm"
                data-id="<%= data[i].id %>" 
                data-namebank="<%= data[i].nameBank %>"
                data-nomorrekening="<%= data[i].nomorRekening %>"
                data-nameowner="<%= data[i].nameOwner %>"
                data-imageurl="<%= data[i].imageUrl %>"
              >
                <i class="fas fa-edit"></i>
              </button>
              <form action="/crud/bank/<%= data[i].id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>