<%- include('../../parts/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

  <%- include('../../parts/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../parts/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../parts/message.ejs') %> 

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Category</h1>

        <%- include('category_table.ejs') %>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../parts/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="modalLogut" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modalLogut" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<%- include('category_add_edit_modal.ejs') %>
<%- include('../../parts/js.ejs') %>

<script>
  const page_script = {
    endPoint: "/crud/category",
    showUpdate: (element) => {
      $("#categoryModal").modal('show');
      $(".modal-title").html("Edit Data");
      $("#categoryModal").find('form').attr("action", page_script.endPoint + "?_method=PUT");
      $("#categoryModal").find('#name').val($(element).data("name"));
      $("#categoryModal").find('#_id').val($(element).data("id"));
    },
    showAdd: (element) => {
      $("#categoryModal").modal('show');
      $(".modal-title").html("Add Data");
      $("#categoryModal").find('form').attr("action", page_script.endPoint);
      $("#categoryModal").find('#name').val(null);
      $("#categoryModal").find('#_id').val(null);
    },

  }
  $(document).ready(function () {

  });
</script>


</body>

</html>