<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="page_script.showAdd(this)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>

          <tr>
            <th width="10%">No.</th>
            <th width="70%">Name</th>
            <th width="20%">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.length; i++ ) { %>
          <tr>
            <td><%- i+1 %> </td>
            <td><%- data[i].name %> </td>
            <td class="d-flex justify-content-center">
              <button type="button" 
                onclick="page_script.showUpdate(this)" 
                class="btn btn-warning btn-circle btn-sm"
                data-id="<%= data[i].id %>" 
                data-name="<%= data[i].name %>"
              >
                <i class="fas fa-edit"></i>
              </button>
              <form action="/crud/category/<%= data[i].id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>