<div class="tab-pane fade show active" id="edit-item" role="tabpanel" aria-labelledby="edit-item-tab">
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <form action="/crud/item?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" name="title" value="<%= data.title %>" placeholder="Enter title"
            required>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="number" class="form-control" name="price" value="<%= data.price %>" placeholder="Enter price"
            required>
        </div>
        <div class="form-group">
          <label for="name">City</label>
          <input type="text" class="form-control" name="city" value="<%= data.city %>" placeholder="Enter city"
            required>
        </div>
        <div class="form-group">
          <label for="name">Category</label>
          <select class="form-control" name="categoryId">
            <option value="<%= data.categoryId._id %>">--- <%= data.categoryId.name %> ---</option>
            <% for(let i = 0; i< category.length; i++){ %>
            <option value="<%= category[i].id %>"><%= category[i].name %></option>
            <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Image</label>
            <input type="file" class="form-control" name="image" multiple >
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <textarea name="about" class="form-control"><%= data.description %></textarea>
        </div>
        <input type="hidden" id="_id" name="id" value="<%= data._id %>" class="btn btn-primary"></input>
        <a href="/pages/item" class="btn btn-warning mr-3">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>