<div class="tab-pane fade show active" id="show-item" role="tabpanel" aria-labelledby="show-item-tab">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No.</th>
              <th>Title</th>
              <th>Price</th>
              <th>Country</th>
              <th>City</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < data.length; i++){ %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= data[i].title %></td>
              <td>$ <%= data[i].price %></td>
              <td><%= data[i].country %></td>
              <td><%= data[i].city %></td>
              <td>
                <form action="/crud/item/<%= data[i].id %>/delete?_method=DELETE" method="POST">
                  <a href="/pages/item/show-image/<%= data[i].id %>" class="btn btn-info btn-circle btn-sm"><i
                      class="fas fa-image"></i></a>
                  <a href="/pages/item/<%= data[i].id %>" class="btn btn-warning btn-circle btn-sm "><i
                      class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                  <a href="/pages/item/item-detail-show/<%= data[i].id %>" class="btn btn-success btn-circle btn-sm"><i
                      class="fas fa-plus"></i></a>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>