<%- include('../../parts/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

  <%- include('../../parts/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../parts/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../parts/message.ejs') %>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Item</h1>

        <% if (action == 'view'){ %>

        <ul class="nav nav-tabs" id="itemTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="show-item-tab" data-toggle="tab" href="#show-item" role="tab"
              aria-controls="show-item" aria-selected="true">Show Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="add-item-tab" data-toggle="tab" href="#add-item" role="tab" aria-controls="add-item"
              aria-selected="false">Add Item</a>
          </li>
        </ul>
        <div class="tab-content" id="itemTabContent">
          <%- include('item_show_table_tab.ejs') %>
          <%- include('item_add_tab.ejs') %>
        </div>
        <% } else if (action == 'show image'){ %>
        <ul class="nav nav-tabs" id="imageTab" role="tablist">
          <li class="nav-image">
            <a class="nav-link active" id="show-image-tab" data-toggle="tab" href="#show-image" role="tab"
              aria-controls="show-image" aria-selected="true">Show image</a>
          </li>
        </ul>
        <div class="tab-content" id="imageTabContent">
          <%- include('item_show_image.ejs') %> 
        </div>
        <% } else { %>
          <ul class="nav nav-tabs" id="edit-itemTab" role="tablist">
            <li class="nav-edit-item">
              <a class="nav-link active" id="show-edit-item-tab" data-toggle="tab" href="#edit-item" role="tab"
                aria-controls="show-edit-item" aria-selected="true">Show Edit Item</a>
            </li>
          </ul>
          <div class="tab-content" id="edit-itemTabContent">
            <%- include('item_edit_tab.ejs') %> 
          </div>
        <% } %>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../parts/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<%- include('../../parts/js.ejs') %>
<% if (action == 'view' || action == 'show edit'){ %>
<script>

  CKEDITOR.replace('about')
</script>
<% } %>

</body>

</html>