          
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Invoice</th>
                      <th>Data</th>
                      <th>Item Title</th>
                      <th>Member Name</th>
                      <th>Status</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td>#<%= data[i].invoice %></td>
                      <td><%= data[i].bookingStartDate.toLocaleString().split(',')[0] %> s/d
                        <%= data[i].bookingEndDate.toLocaleString().split(',')[0] %>
                      </td>
                      <td><%= data[i].itemId.title %></td>
                      <td><%= data[i].memberId.firstName %> <%= data[i].memberId.lastName %></td>
                      <td><span class="badge badge-<%= (data[i].payments.status == "Proses" ? "success" : (data[i].payments.status == "Reject" ? "danger" : "primary")) %>"> <%= data[i].payments.status %></span></td>
                      <td>
                        <a href="/pages/booking/<%= data[i].id %>" class="btn btn-success btn-circle btn-sm button-update"><i
                            class=" fas fa-eye"></i></a>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>