<!-- DataTales Example -->
<div class="card shadow mb-4 mt-2">
    <div class="card-header py-3">
      <a href="/pages/booking" class="btn btn-warning">Back</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= req.protocol + '://' + req.get('host') %>/<%= data.payments.proofPayment %>" alt="image"
            style="width: 100%; display: block;">
  
          <div class="row ml-1">
            <% if(data.payments.status == 'Proses') {%>
  
            <form action="/crud/booking/<%= data.id %>/confirmation?_method=PUT" method="POST">
              <button type="submit" class="btn btn-success btn-sm">
                <i class="fas fa-check"></i>
                Confirmation
              </button>
            </form>
            <form action="/crud/booking/<%= data.id %>/reject?_method=PUT" method="POST" class="ml-2">
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="fas fa-times"></i>
                Reject
              </button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name Member</th>
                  <th>Total</th>
                  <th>Bank From</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= data.memberId.firstName %> <%= data.memberId.lastName %></td>
                  <td>$ <%= data.total %> </td>
                  <td><%= data.payments.bankFrom %> </td>
                  <td><%= data.itemId.title %> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>